<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<div th:replace="~{/fragments/head}">
    <!--    dummy placeholder -->
</div>
<!--    <form th:action="@{/register.html}" method="post">-->
<!--        <label for="username">Username</label>:-->
<!--        <input type="text" id="username" name="username" autofocus="autofocus" /> <br />-->
<!--        <label for="password">Password</label>:-->
<!--        <input type="password" id="password" name="password" /> <br />-->
<!--        <input type="submit" value="Log in" />-->
<!--    </form>-->
<body class="w-full h-screen justify-center align-center">
<main class="w-full h-full flex mt-10 justify-center">
    <form class="space-y-6 w-[500px] bg-green-200 h-[300px] p-4">
        <div>
            <label
                    for="email"
                    class="block text-sm font-medium leading-6 text-gray-900"
            >Email</label
            >
            <div class="mt-2">
                <input
                        id="email"
                        name="email"
                        type="email"
                        autocomplete="email"
                        required
                        class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                />
            </div>
            <span class="text-red-500 font-medium"
            >First name invalid</span
            >
        </div>
        <div>
            <div class="flex items-center justify-between">
                <label
                        for="password"
                        class="block text-sm font-medium leading-6 text-gray-900"
                >Password</label
                >
                <div class="text-sm">
                    <a
                            href="#"
                            class="font-semibold text-indigo-600 hover:text-indigo-500"
                    >Forgot password?</a
                    >
                </div>
            </div>
            <div class="mt-2">
                <input
                        id="password"
                        name="password"
                        type="password"
                        autocomplete="current-password"
                        required
                        class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                />
            </div>
        </div>
        <div class="flex justify-between align-center mt-6">
            <a
                    class="rounded py-2 px-5 inline-flex bg-green-500 color-white"
            >login</a
            >
            <a
                    class="font-semibold text-indigo-600 hover:text-indigo-500"
            >sign up</a
            >
        </div>
    </form>
</main>
</body>
</html>