<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<div th:replace="~{/fragments/head}">
</div>
<body>
<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <form th:action="@{/login.html}" method="post">
        <div>
            <label for="firstname">First Name</label>:
            <input type="text" id="firstname" name="firstname" autofocus="autofocus"/> <br/>
        </div>
        <div>
            <label for="lastname">Last Name</label>:
            <input type="text" id="lastname" name="lastname" autofocus="autofocus"/> <br/>
        </div>
        <div>
            <label for="email">Email</label>:
            <input type="email" id="email" name="email" autofocus="autofocus"/> <br/>
        </div>
        <div>
            <div>
                <label for="password">Password</label>:
                <input type="password" id="password" name="password" autofocus="autofocus"/> <br/>
            </div>
            <a href="/auth/password-forgot">Password forgot ?</a>
        </div>
        <div>
            <button type="submit">Create Account</button>
            <div>
                <a href="/auth/login">Already have an account ?</a>
            </div>
        </div>
    </form>
</div>
</body>
</html>