<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<div th:replace="~{/fragments/head}">
    <!--    dummy placeholder -->
</div>
<body>
<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <img class="mx-auto h-10 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600"
             alt="Your Company">
        <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Sign in to your
            account</h2>
    </div>
    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
        <form class="space-y-6" th:action="@{/auth/register}" method="POST" th:object="${registrationInfo}">
            <div>
                <label for="firstname" class="block text-sm font-medium leading-6 text-gray-900">First Name</label>
                <div class="mt-2">
                    <input id="firstname" name="firstname" type="text" autocomplete="firstname" required th:field="*{firstName}"
                           class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"/>
                </div>
                <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="text-red-500 font-medium">First name invalid</span>
            </div>
            <div>
                <label for="lastname" class="block text-sm font-medium leading-6 text-gray-900">Last Name</label>
                <div class="mt-2">
                    <input id="lastname" name="lastname" type="text" autocomplete="lastname" required
                           class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div>
                <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="text-red-500 font-medium">Last name invalid</span>
            </div>
            <div>
                <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Email address</label>
                <div class="mt-2">
                    <input id="email" name="email" type="email" autocomplete="email" required
                           class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div>
                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-red-500 font-medium">Email address invalid</span>
            </div>
            <div>
                <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Password</label>
                <div class="mt-2">
                    <input id="password" name="password" type="password" autocomplete="password" required
                           class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div>
                <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-red-500 font-medium">Password invalid</span>
            </div>
            <div>
                <label for="confirmPassword" class="block text-sm font-medium leading-6 text-gray-900">Confirm password</label>
                <div class="mt-2">
                    <input id="confirmPassword" name="confirmPassword" type="password" required
                           class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div>
                <span th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" class="text-red-500 font-medium">Password Confirmation invalid</span>
            </div>
            <div>
                <button type="submit"
                        class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                    Create account
                </button>
            </div>
            <div th:if="${#fields.hasAnyErrors()}">
                <ul>
                    <li th:each="err : ${#fields.allErrors()}" th:text="${err}" />
                </ul>
            </div>
        </form>

        <p class="mt-10 text-center text-sm text-gray-500">
            Already have an account yet?
            <a href="/auth/login" class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500">login</a>
        </p>
    </div>
</div>
</body>
</html>