<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<div th:replace="~{/fragments/head}">
    <!--    dummy placeholder -->
</div>
<body>
<form>
    <div class="">
        <label>
            <input
                    class="border px-3 py-2"
                    placeholder="search notes"
            />
        </label>
    </div>
    <label>
<textarea
        rows="10"
        class="border px-3 py-2 w-full h-40"
        placeholder="write your note here"
>
</textarea>
    </label>
    <div>
        <label>
            <input
                    class="border px-3 py-2"
                    placeholder="enter tag"
            />
        </label>
        <div class="">

        </div>
    </div>
    <button
            class="uppercase inline-flex border rounded bg-blue-500 px-3 py-2 text-white"
            type="submit">Create Note</button>
</form>

</body>
</html>