<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<div th:replace="~{/fragments/head}">
    <!--    dummy placeholder -->
</div>
<body>
<nav class="flex flex-row justify-between align-center">
    <ul
            class="flex flex-row justify-between align-center w-full p-4 border"
    >
        <li
                class="uppercase inline-flex border rounded bg-green-500 px-3 py-2 text-white"
        >
            <a class="bg-green" href="#">+ paste</a>
        </li>
        <div class="flex align-center space-x-3">
            <li
                    class="uppercase inline-flex border rounded bg-yellow-500 px-3 py-2 text-white"
            >
                <a class="" href="#">log out</a>
            </li>
            <li
                    class="uppercase inline-flex border rounded bg-red-500 px-3 py-2 text-white"
            >
                <a class="" href="#">delete account</a>
            </li>
        </div>
    </ul>
</nav>
<main class="py-5">
    <div class="flex w-full justify-end align-center px-4">
        <div class="">
            <label>
                <input
                        class="border px-3 py-2"
                        placeholder="search notes"
                />
            </label>
            <a
                    class="uppercase inline-flex border rounded bg-blue-500 px-3 py-2 text-white"
                    href="#"
            >
                search
            </a>
        </div>
    </div>
    <div class="py-5">
        <table class="border w-full">
            <thead class="border">
            <tr class="border">
                <th class="border p-2" scope="col">Title/Name</th>
                <th class="border p-2" scope="col">Created At</th>
                <th class="border p-2" scope="col"></th>
            </tr>
            </thead>
            <tbody class="">
            <tr>
                <th class="border p-2" scope="row">Chris</th>
                <td class="border p-2">HTML tables</td>
                <td class="border p-2">
                    <div class="flex space-x-4">
                        <a class="underline text-blue-500">edit</a>
                        <a class="underline text-red-500"
                        >x remove</a
                        >
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
</body>
</html>